<h1>Products</h1>
<% if current_user&.admin? %>
  <%= link_to "New Product", new_product_path %>
<% end %>

<%= form_tag("/products", method: "get") do %>
    <%= label_tag(:title, "Search for:") %>
    <%= text_field_tag(:name, params[:name]) %>
    <%= submit_tag("Search") %>
<% end %>

<ul style: "display: flex: flex-wrap: wrap; gap: 20px;">
  <% @products.each do |product| %>
    <li>
        <%= link_to product.name, product_path(product) %><br>
        <%= number_to_currency(product.price) %><br>
         <%= truncate(product.description, length: 100) %>
        
         <% if  product.image.attached? %>
            <%= image_tag product.image , style: "max-width: 300px" %>
        <%end%>

      <% if current_user&.admin? %>
        <br>
        <%= link_to 'Edit', edit_product_path(product) %> |
        <%= link_to 'Delete', product_path(product), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
  <% end %>
</ul>


<% if user_signed_in? %>
 <%= link_to "Logout" , destroy_user_session_path, method: :delete ,data: {turbo_method: :delete} %>

 <% else %>
    <%= link_to "Login" ,new_user_session_path %>
     <%= link_to "Sign up" ,new_user_registration_path %>
 <%end%>
