<h1 class="text-center">Products</h1>


<div class="d-flex justify-content-center">
  <%= form_tag("/products", method: "get") do %>
     <%= label_tag(:title, "Search for:") %>
     <%= text_field_tag(:name, params[:name]) %>
     <%= submit_tag("Search") %>
  <% end %>
</div>

<div class="d-flex justify-content-around">
  <% if current_user&.admin? %>
     <div class="">
       <%= link_to "New Product", new_product_path %>
     </div>
  <% end %>

  <%= link_to "show cart item" ,cart_path %>
</div>

<ul class="d-flex flex-wrap justify-content-center list-unstyled">
  <% @products.each do |product| %>
    <div class="card m-3 text-center" style="width: 350px">
       <li class="m-3 p-4">
         <% if product.image.attached? %>
            <div >
              <%= image_tag product.image , style: "max-width: 250px" %>
            </div>
         <%end%>
          <h5 class="card-title"> <%= link_to product.name, product_path(product) %></h5>
           Price :- <%= number_to_currency(product.price) %><br>
          Description  :- <%= truncate(product.description, length: 100) %>
    
           <%= form_with url: cart_items_path do %>
              <%= hidden_field_tag :product_id , product.id%>
              <%= number_field_tag :quantity ,1, min: 1 ,style: "width:40px;"%>
              <%= submit_tag "Add to cart" %>
           <%end%>

         <% if current_user&.admin? %>
          <br>
             <%= link_to 'Edit', edit_product_path(product) %> |
            <%= link_to 'Delete', product_path(product), method: :delete, data: {turbo_method: :delete} %>
        <% end %>
       </li>
    </div>
  <% end %>
</ul>


<% if user_signed_in? %>
  <div class="btn bg-black m-5">
    <%= button_to "Logout" , destroy_user_session_path, method: :delete ,data: {turbo_method: :delete} %>
  </div>

 <% else %>
    <div class="d-flex justity-content-center m-4">
        <div> <%= link_to "Login" , new_user_session_path, class: 'text-dark text-decoration-none' %></div>
        <%= link_to "Sign up" ,new_user_registration_path %>
    </div>
 <%end%>