<h1>Products</h1>
<% if current_user&.admin? %>
  <%= link_to "New Product", new_product_path %>
<% end %>

<div class="d-flex justify-content-center">
  <%= form_tag("/products", method: "get") do %>
     <%= label_tag(:title, "Search for:") %>
     <%= text_field_tag(:name, params[:name]) %>
     <%= submit_tag("Search") %>
  <% end %>
</div>

<%= link_to "show cart item" ,cart_path %>
<ul class="d-flex flex-wrap" >
  <% @products.each do |product| %>
    <li class="m-3 p-4">
        <%= link_to product.name, product_path(product) %><br>
        <%= number_to_currency(product.price) %><br>
         <%= truncate(product.description, length: 100) %>
        
         <% if  product.image.attached? %>
            <%= image_tag product.image , style: "max-width: 300px" %>
        <%end%>

        <%= form_with url: cart_items_path do %>
          <%= hidden_field_tag :product_id , product.id%>
          <%= number_field_tag :quantity ,1, min: 1 %>
          <%= submit_tag "Add to cart" %>
        <%end%>


      <% if current_user&.admin? %>
        <br>
        <%= link_to 'Edit', edit_product_path(product) %> |
        <%= link_to 'Delete', product_path(product), method: :delete, data: {turbo_method: :delete} %>
      <% end %>
    </li>

    <% end %>
</ul>


<% if user_signed_in? %>
 <%= link_to "Logout" , destroy_user_session_path, method: :delete ,data: {turbo_method: :delete} %>

 <% else %>
    <%= link_to "Login" ,new_user_session_path %>
     <%= link_to "Sign up" ,new_user_registration_path %>
 <%end%>


