<h1 class="text-center">Products</h1>
<div class="container  d-flex justify-content-center align-items-center  ">

  <div class="card w-50 d-flex mt-5 p-3 justify-content-center align-items-center">
  
    <p><strong>Category:</strong> <%= @product.category&.name || "Uncategorized" %></p>
    <% if @product.image.attached? %>
      <%= image_tag @product.image , style: "max-width: 250px"%>
    <%end%>

    <h1><%= @product.name %></h1>
    <p>
      <strong>Description:</strong><br>
      <%= @product.description %>
    </p>

    <p> 
      <strong>Price:</strong>
      <%= number_to_currency(@product.price) %>
    </p>

    <%= form_with(url: product_path(@product), method: :post) do |form| %>
      <%= form.submit "Buy Now"%>
    <%end%>

    <div class="m-2"> <%= link_to 'Back to Products', products_path %> </div>
 
    <% if current_user&.admin? %>
       <%= link_to 'Edit', edit_product_path(@product) %>
    <%end%>

  </div>
</div>